{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit Menu Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" value="{{item.name }}" pattern="^\w+[\w\s]+$" required>

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description">{{item.description}}</textarea>

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" maxlength="10" class="form-control" name="price" value="{{item.price}}" pattern="^[0-9]?[,0-9]+(?:\.\d{2})?$" required>
					</div>
					<label for="product">Product:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="product" id="product1" value="Computer" {% if item.product == 'Computer'%}checked{%endif%}>Computer
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="product" id="product2" value="Mobile" {% if item.product == 'Mobile' %}checked{%endif%}>Mobile
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="product" id="product3" value="Network" {% if item.product == 'Network'%}checked{%endif%}>Network
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="product" id="product4" value="Accessory" {%if item.product =='Accessory'%}checked{%endif%}>Accessory
					  </label>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
					<a href = '{{url_for('showStores')}}'>
						<button class="btn btn-default delete" type="button">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
